button {
  margin-left: auto;
}

p {
  text-align: center;
}

.postclass {
  margin-right: 0.1%;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}


mat-spinner {
  margin: auto;
}

/*
.container{
  float: right;
  width : 50%;
  height: auto;
}
.another-container{
  float: right;
  width: 50%;
  height :inherit ;
  overflow: scroll;
} */

.post-content {
  display: flex;
  align-items: flex-start;
}

.left-half {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  overflow: scroll;
  white-space: pre-line;
}

.right-half{
  flex: 1;
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: flex-start;
}
img{
  width: 100%;
}
