<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="container" *ngIf="posts.length > 0 && !isLoading">
  <mat-accordion multi="false">
    <mat-expansion-panel *ngFor="let post of posts" class="postclass">
      <mat-expansion-panel-header>
        <div class="header-content">
          <div>{{ post?.title }}</div>
        </div>
      </mat-expansion-panel-header>
      <div class="parent-container">
        <div class="child-container" id="text">
          {{ post?.content }}
        </div>
        <div class="child-container">
          <img [src]="post.imagePath">
        </div>
      </div>
      <mat-action-row>
        <button mat-button color="accent" [routerLink]="['/edit', post.id]">
          <mat-icon fontIcon="edit"></mat-icon>
          EDIT
        </button>
        <button mat-button (click)="deletePost(post.id)" color="warn">
          <mat-icon fontIcon="delete"></mat-icon>
          DELETE
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<mat-paginator *ngIf="posts.length > 0" color="accent" (page)="pageEvent($event)" [length]="total_posts" [pageSize]="postsperPage" [pageSizeOptions]="optforpageSize"></mat-paginator>
<p *ngIf="posts.length == 0 && !isLoading">No posts to display...</p>
