button {
  margin-left: auto;
}

p {
  text-align: center;
}

.postclass {
  margin-right: 0.1%;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}


mat-spinner {
  margin: auto;
}

/*
.container{
  float: right;
  width : 50%;
  height: auto;
}
.another-container{
  float: right;
  width: 50%;
  height :inherit ;
  overflow: scroll;
} */

.parent-container {
  display: flex;
  height : 500px;
  align-items: flex-start;
}

.child-container {
  flex: 1;
  height: fit-content;
  max-height: inherit;
}
#text{
  overflow: scroll;
  white-space: pre-line;
  height: inherit;
}
img{
  width: 100%;
}
