<mat-spinner *ngIf="isLoading"></mat-spinner>
<form [formGroup] = "form" *ngIf="!isLoading" (submit)="sendText()">
  <mat-card>
    <mat-form-field>
      <input formControlName = "title" matInput type="text" placeholder="Post Title">
      <mat-error *ngIf="form.get('title')?.invalid">Please enter a valid title</mat-error>
    </mat-form-field>
    <div id="pickimage">
      <button mat-stroked-button type="button" (click)="formPicker.click()">Pick Image</button>
      <mat-error *ngIf="this.form.get('image')?.value && form.get('image')?.invalid && imagePreview !== ''">Please Attach a valid Image Attachment</mat-error>
      <input type="file" #formPicker (change)="imagePicked($event)">
    </div>
    <div class="preview-container" *ngIf = "imagePreview !== '' && imagePreview && (!this.form.get('image')?.value || form.get('image')?.valid)">
      <img [src] = "imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea formControlName = "content" matInput rows="6" cols="100" placeholder="Post Content"></textarea>
      <mat-error *ngIf="form.get('content')?.invalid">Please enter some valid content</mat-error>
    </mat-form-field>
    <button mat-raised-button color = "primary" type="submit">Save Post</button>
  </mat-card>
</form>
<!--

<form [formGroup]="form" *ngIf="!isLoading" (submit)="sendText()">
  <mat-card>
    <mat-form-field>
      <input formControlName="title" matInput type="text" placeholder="Post Title">
      <mat-error *ngIf="form.get('title')?.invalid">Please enter a valid title</mat-error>
    </mat-form-field>
    <button mat-stroked-button type="button" id="pickimage" (click)="formPicker.click()">Pick Image</button>
    <input type="file" #formPicker (change)="imagePicked($event)">
    <mat-form-field>
      <textarea formControlName="content" matInput rows="6" cols="100" placeholder="Post Content"></textarea>
      <mat-error *ngIf="form.get('content')?.invalid">Please enter some valid content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </mat-card>
</form> -->
