<form (submit)="sendText(postForm)" #postForm="ngForm">
  <mat-card>
    <mat-form-field>
      <input name="title" matInput type="text" placeholder="Post Title" ngModel required #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a valid title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea name="content" matInput rows="6" cols="100" placeholder="Post Content" ngModel required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter some valid content</mat-error>
    </mat-form-field>
    <button mat-raised-button color = "accent" type="submit">Click Me</button>
  </mat-card>
</form>

